{% extends 'layout.html' %}
{% block content %}
<div class="container">
    <h2>Directory</h2>
    <h3>{{ title }}</h3>
    <div class="buttons-container">
        <!-- Show the 'Back' button when not in the homepage -->
        {% if title.title() != "Home" %}
            <a href="{{ back }}">
                <div class="back-button"><span class="anim-text">Back</span><span class="icon"><img src="/static/images/previous.svg" alt="back button"></span></div>
            </a>
        {% endif %}
    </div>
    <!-- Folders -->
    <div class="buttons-container">
        {% for folders in folders %}
            <a href="{{ folders[1] }}">
                <div class="folder-button"><span class="anim-text">{{ folders[0] }}</span><span class="icon"><img src="/static/images/folder.svg" alt="folder"></span></div>
            </a>
        {% endfor %}
    </div>
    <h2>Links</h2>
    <!-- Show error message if there are links -->
    {% if not sites %} 
        <h2 class="error">Folder has no links</h2>
    {% endif %}
    <!-- Links -->
    <div class="buttons-container">
        {% for sites in sites %}
            <a href="{{ sites[1] }}" target="_blank" rel="opener">
                <div class="link-button">{{ sites[0] }}</div>
            </a>
        {% endfor %}
    </div>
</div>
{% if title.title() != "Home" %}
    <div class="home-button-container">
        <a href="/home">
            <div class="home-button"><span class="anim-text">Return to home</span></div>
        </a>
    </div>
{% endif %}
{% endblock %}