<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ vars["site_title"] }} - Page Not Found</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <style>
        span, .link-button, .folder-button{
            transition: all {{ vars['anim_speed'] }};
        }
    </style>
</head>
<body>
    <div class="header-background">
        <h1>Uh oh!</h1>
    </div>
    <h2>Page not accessible due to error:</h2>
    <h3 class="error">{{ error }}</h3>
    <div class="buttons-container">
        <a href="/home">
            <div class="link-button"><span class="anim-text">Return to home</span><span class="icon"><img src="/static/images/home.svg" alt="Return home"></span></div>
        </a>
    </div>
    {% include 'boring.html' %}
</html>