<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ vars["site_title"] }} - {{ title }}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <style>
        span, .linkButton, .gotoButton, .nav-button {
            transition: all {{ vars['anim_speed'] }};
        }
    </style>
</head>
<body>
    {% include 'header.html' %}
    {% block content %}{% endblock %}
</body>
</html>