<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ vars["site_title"] }} - {{ title }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="icon" href="/static/images/favicon.svg" type="image/svg+xml">
    <!-- This style is here so variables from the Python script work in CSS -->
    <style>
        span, .link-button, .folder-button, .back-button, .home-button {
            transition: background-color {{ vars['anim_speed'] }}, margin-left {{ vars['anim_speed'] }};
        }  
    </style>
</head>
<body>
    {% include 'account.html' %}
    {% include 'header.html' %}
    {% block content %}{% endblock %}
    {% include 'boring.html' %}
</body>

<!-- Java sucks still -->
<script>
document.addEventListener('DOMContentLoaded', function() {
    const classesToFade = ['.buttons-container', 'h2', 'h3', '.welcome-message', '.slogan'];
    const linkSelectors = classesToFade.map(cls => `${cls} a`).join(', ');
    const links = document.querySelectorAll(linkSelectors);

    setTimeout(() => {
        classesToFade.forEach(cls => {
            document.querySelectorAll(cls).forEach(element => {
                element.classList.add('fade-in');
            });
        });
    }, 100);

    links.forEach(link => {
        link.addEventListener('click', function(e) {
            const url = new URL(this.href, window.location.href);
            const isExternal = url.origin !== window.location.origin;

            if (isExternal) {
                return;
            }

            classesToFade.forEach(cls => {
                document.querySelectorAll(cls).forEach(element => {
                    element.classList.remove('fade-in');
                    element.classList.add('fade-out');
                });
            });

            if (!this.target || this.target !== '_blank') {
                e.preventDefault();
                setTimeout(() => {
                    window.location.href = this.href;
                }, 200);
            }
        });
    });
});
</script>
</html>