{% extends 'layout.html' %}
{% block content %}
<form method="POST" action="/login" class="itemBox">
    <h2>Login</h2>
    {% for error in form.password.errors %}
        <p class="loginError">{{ error }}</p>
    {% endfor %}
    {% for error in form.username.errors %}
        <p class="loginError">{{ error }}</p>
    {% endfor %}
    {% if success == False %}
        <p class="loginError">{{ reason }}</p>

    {% elif success == True %}
        <p class="loginSuccess">{{ reason }}</p>
    {% endif %}
    <div class="loginEntry">
        <p class="login">{{ form.username.label }}</p> 
        {{ form.username() }}
    </div>
    <div class="loginEntry">
        <p class="login">{{ form.password.label }}</p> 
        {{ form.password() }}
    </div>
    <p><input type="submit" value="Sign In"> {{ form.remember }}{{form.remember.label }}</p>
    <div class="link-button">
        <a style="text-align: center;" href="{{ url_for("signup") }}">Sign up</a>
    </div>
</form>
<div class="home-button-container">
    <a href="{{ url_for("root") }}">
        <div class="home-button"><span class="anim-text">Return to homepage</span></div>
    </a>
</div>
{% endblock %}